
@{
    ViewData["Title"] = "StaffDashboard";
}

<div class="">
    <h1 id="" class="admin-text">Welcome To Staff Dashboard</h1>
    <br />
    <div id="" class="admin-text">
        <a asp-controller="CustomerRegistrations" asp-action="Index" class="btn btn-primary m-2">Register Customer</a>
        <a asp-controller="CustomerHistories" asp-action="Index" class="btn btn-primary m-2">Customer History</a>
@*        <a asp-controller="Logins" asp-action="Logout" class="btn btn-danger m-2">Logout</a>
*@    </div>  
</div>
