@{
    ViewData["Title"] = "Home";
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>
  @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@*<div class="home-view">

</div>*@
@*
<div>
    <img src="~/lib/mainbg.jpg" alt="home_bg" width="500" height="600">
</div>*@