
@{
    ViewData["Title"] = "AdminDashboard";
}

<div class="main">
    <h1 id="" class="admin-text">Welcome To Admin Dashboard</h1>
    <br />
    <div id="" class="admin-text">
        <a asp-controller="StaffRegistrations" asp-action="Index" class="btn btn-primary m-2">Staff Operations</a>
        <a asp-controller="Rooms" asp-action="Index" class="btn btn-primary m-2">Room Operations</a>
@*        <a asp-controller="Logins" asp-action="Logout" class="btn btn-danger m-2">Logout</a>
*@    
</div>
</div>


